<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="background-color: skyblue; border-style: solid;
    border-color: black;">
<header>
<% include ./partials/_headers %>
</header>
<ul>
<% for(var shortUrl in urls) {%>
  <li>
    <a href="<%= urls[shortUrl] %>"><%= shortUrl %></a>
    <%= urls[shortUrl]%>
    <form method="POST" action="/urls/<%= shortUrl %>/delete">
      <button type="submit" value="delete">DELETE</button>


    </form>
    <a href= "/urls/<%= shortUrl %>">DETAILS</a>

    <form method="POST" action="/urls/<%= shortUrl %>">
      <input type = "text" name="newUrl">
      <button type="submit" value="update">UPDATE</button>
     </form>
  </li>
<% } %>

</ul>
    <!-- Add your EJS code here -->
</body>
</html>